In [1]:
import pandas as pd
import numpy as np

Consider population of 7 countries in millions

In [2]:
g7_pop = pd.Series([35.4,25.6,741.24,88.6,22.6,70.7,43.7])

In [3]:
g7_pop

0     35.40
1     25.60
2    741.24
3     88.60
4     22.60
5     70.70
6     43.70
dtype: float64

In [4]:
g7_pop.name='Population of 7 countries in millions'

In [5]:
g7_pop

#index

0     35.40
1     25.60
2    741.24
3     88.60
4     22.60
5     70.70
6     43.70
Name: Population of 7 countries in millions, dtype: float64

In [6]:
g7_pop.dtype

dtype('float64')

In [7]:
g7_pop.values
#here we can see that it is stored just like a numpy array so we can perform
#all numpy operations as it has an index

array([ 35.4 ,  25.6 , 741.24,  88.6 ,  22.6 ,  70.7 ,  43.7 ])

In [8]:
g7_pop[3]

88.6

#### But unlike arrays we can change the indexes

In [9]:
g7_pop.index = [
    "Canada","France","India","Japan","USA","Kazakistan","Cuba"
]

In [10]:
g7_pop

Canada         35.40
France         25.60
India         741.24
Japan          88.60
USA            22.60
Kazakistan     70.70
Cuba           43.70
Name: Population of 7 countries in millions, dtype: float64

#### We can easily create series in one step by -

In [11]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

#### We can also query with the help of indexes (Indexing in Series)

In [12]:
pd.Series(g7_pop,index=["USA","India","Cuba"])

USA       22.60
India    741.24
Cuba      43.70
Name: Population of 7 countries in millions, dtype: float64

In [13]:
g7_pop["USA"]

22.6

In [14]:
g7_pop[["USA","India"]]

USA       22.60
India    741.24
Name: Population of 7 countries in millions, dtype: float64

We can still get values with the help of numeric indexes by -

In [15]:
g7_pop.iloc[-1]

43.7

In [16]:
g7_pop.iloc[2]

741.24

#### Remember unlike numpy in pandas, upper limit and lower limit is also included

In [17]:
g7_pop['Canada': 'USA']

Canada     35.40
France     25.60
India     741.24
Japan      88.60
USA        22.60
Name: Population of 7 countries in millions, dtype: float64

### Boolean Series

In [18]:
g7_pop>70

Canada        False
France        False
India          True
Japan          True
USA           False
Kazakistan     True
Cuba          False
Name: Population of 7 countries in millions, dtype: bool

In [19]:
#or
g7_pop[g7_pop>70]

India         741.24
Japan          88.60
Kazakistan     70.70
Name: Population of 7 countries in millions, dtype: float64

### Arithematic operations

In [20]:
g7_pop*1000000

Canada         35400000.0
France         25600000.0
India         741240000.0
Japan          88600000.0
USA            22600000.0
Kazakistan     70700000.0
Cuba           43700000.0
Name: Population of 7 countries in millions, dtype: float64

In [21]:
g7_pop.mean()

146.83428571428573

In [22]:
g7_pop.var()

69282.0008952381

#### Quering data

In [23]:
g7_pop[(g7_pop>30)|(g7_pop<100)]

Canada         35.40
France         25.60
India         741.24
Japan          88.60
USA            22.60
Kazakistan     70.70
Cuba           43.70
Name: Population of 7 countries in millions, dtype: float64

#### Modifying Series

In [24]:
g7_pop["Canada"]=69.69

In [25]:
g7_pop.iloc[0]

69.69

In [26]:
g7_pop.iloc[3]=69.69

In [27]:
g7_pop.iloc[3]

69.69

In [28]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

In [29]:
X.any() #true when any of its element = 0

True

In [30]:
X.all() #true when none of its element = 0

False